.main {
    width: 960px;
    height: 500px;
    background-color: #ffffff;
   border-style: solid;
   border-width: 2px;
   border-color: #cccccc;
  margin: 50px auto; 
   padding: 20px;

}


.foot {
    background-color:#666666;
    border-top: 8px solid #4aaaa5;
    height: 100px;
    color: #f1f3ed;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom:0px;
    text-align: center;

}
    
    /* border-top: 8px solid #4aaaa5;*/



div h1 {
    color: #4aaaa5;
    border-bottom: 5px solid #cccccc;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

    }

img {
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 10px;

}


/*this is the header */

header h1{
    background-color: red;
    height: 100px;
    margin: 0px auto;
    color: white;
    
   }

.smallhead {
    background-color:yellow;
    height: 100px;
    margin: 0px auto;
    color: white;
    width: 960px;
    float: right;
    
}




